<body>
  <div class="container"> <!--a-card-->
      <section></section> <!--Mat_card-Header-->
      <div id="sidebar"></div><!--card-content-->
      <div id="content1"> <!--id IMG-->
          <div class="text">
              <a class="p1">A <a class="a1" href="https://code7.com/">Kode7</a>
              </a>
             <br>
             <a>possui tudo<br> que você precisa <br>para se comunicar <br>com o seu</a>
             <br>
             <a href="filmes" class="a2">Cliente...</a>
          </div>
      </div>
  </div>
</body>
